.section-cards {
    background: linear-gradient(to right, #eeeded 0%, #f7e8e8 100%);
    padding: 1em;
    margin-top: 2em;

    &__header {
        margin-bottom: 4em;
    }

}

.card {
    outline: none;
    flex-grow: 1;
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    display: block;
    position: relative;
    isolation: isolate;
    color: #fcfdfe;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        margin-top: 2em;
    }




    &:hover, &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
    }

    &__image {
        background-size: cover;
        height: 200px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
        clip-path: polygon(0 0, 100% 0, 100% 170px, 0 200px);
        background-position: center;
        transition: all 0.2s;
    }

    &:hover &_image {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 200px);
        transform: scale(1.1) rotate(-2deg);
        transition-delay: 0s;
    }

    &__content {
        position: absolute;
        bottom: 0;
        padding: 3em 1em 1em;
        height: 230px;
        width: 100%;
        z-index: -1;
        transition: all 0.2s;
    }

    &:hover &__content {
        padding-top: 4em;
    }
}

.card:nth-child(10n+1) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+2) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+3) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+4) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+5) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+6) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+7) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+8) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+9) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

.card:nth-child(10n+10) .card__content {
    background: rgb(68,68,70);
    background: linear-gradient(0deg, rgba(68,68,70,0.9710259103641457) 26%, rgba(193,193,193,1) 100%);
}

@media (min-width: 1200px) {
    .card-container {
    gap: 2em;
    }
}


@media (min-width: 1024px) {
    .card {
    min-width: 230px;
    }
}
@media (min-width: 1280px) {
    .card {
    min-width: 240px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .card {
    min-width: 100%;
    height: 200px;
    }

    .card__article {
    display: flex;
    }

    .card__image {
    width: 40%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }

    .card__content {
    top: 0;
    padding-left: 45%;
    }
}